body{
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #C9C9C9; 
    margin: 0px;
}
button:disabled{
    pointer-events: none;
    cursor: not-allowed;
    background-color: #5E5D5D;
    opacity: 0.65;
    filter: alpha(opacity=65);
}

.content{
    justify-content: center;
    position: absolute;
    right: 0%;
    top: 50px;
    left: 200px;
    height: calc(100% - 50px);
    --pwidth: calc(100% - 200px);
    width: var(--pwidth);
    box-sizing: content-box;
}
.chose_student{
    position: relative;
    border-radius: 10px;
    background-color: white;
    width: 200px;
    height: 50px;
    margin: 10px 150px;
}
.chose_student .student_select{
    position: relative;
    justify-self: right;
    border-radius: 5px;
    background-color: rgb(216, 216, 216);
    right: 0%;
    width: 90%;
    height: 40px;
    font-size: 14px;
    top: calc(50% - 15px);
    left: 5%;
    height: 30px;
}
.content .overlay {
    height:0%;
    width: var(--pwidth);
    position: fixed;
    z-index: 999;
    top: 50px;
    left: 200px;
    background-color: rgba(0,0,0, 0.2);
    transition: 0.4s;
    overflow:hidden;
  }

.content .overlay_action{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 543px;
    height: 200px;
    background-color: white;
    margin: 20px auto;
    border-radius: 5px;
    border: none;
}
.content .overlay_action .input_area{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: white;
    border-radius: 5px;
    align-self: center;
    Flex-grow:2;
    border: none;
}
.content .overlay_action .input_area .overlay_label{
    font-size: 18px;
    font-weight: bold ;
    text-align: left;
    flex-grow: 2;
    padding-left: 15px;
}

.content .overlay_action .button_area{
    position: relative;
    width: 143px;
    height: 100%;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    align-self: center;
    border: none;
}
.content .overlay_action .button_area .add_button{
    position: relative;
    width: 130px;
    height: 100px;
    top: 15px;
    background-color: rgb(0, 253, 114);
    border: none;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 0 9px #999;
}
.content .overlay_action .button_area .add_button:hover{
    background-color: rgb(0, 190, 86);
    transition: 0.1s;
}

.content .overlay_action .button_area .add_button:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.closebtn{
    width: 23px;
    height: 45px;
    font-size: 40px;
    color: #818181;
    text-decoration: none;
    transition: 0.3s;
}
.overlay .closebtn {
    position: relative;
    text-align: right;
    top: 0px;
    left: 110px;
}
.content .edit_course .closebtn{
    position: relative;
    top:0px;
    left: 94%;
    z-index: 1;
}
.overlay a:hover, .overlay a:focus {
color: #f1f1f1;
}
.data_input {
    margin: 10px;
    border-radius: 10px;
    height: 50px;
    font-size: 16px;
    border: 1px solid gray;
    text-align: center;
}


.content .course_info{
    position: relative;
    width: calc(var(--pwidth) - 100px);
    margin: 20px 150px;
    border-collapse: collapse;
    border-radius: 5px;
    overflow-x: auto;
}

.course_info td, .course_info th {
    width: 210px;
    padding-left: 10px;
    font-size: 18px;
    background-color: white;
    border-bottom: 1px solid rgb(53, 53, 53);
    white-space:nowrap;
}
.course_info td{
    height: 45px;
}
.course_info th:first-child{
    border-top-left-radius: 5px;
}
.course_info th:last-child{
    border-top-right-radius: 5px;
}
.course_info tr:last-child td{
    border: none;
}
.course_info tr:last-child td:first-child{
    border-bottom-left-radius: 5px;
}
.course_info tr:last-child td:last-child{
    border-bottom-right-radius: 5px;
}

.course_info th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: white;
color: black;
}

tr:nth-child(n + 12) {
    display: none;
}
.course_info .course_page{
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    transition: 0.3s;
}
.course_info .course_page:hover{
    width: 10px;
    height: 10px;
    background-color: lightblue;
    border-radius: 100%;
    transition: 0.3s;
}
.course_info button.course{
    color: rgb(0, 0, 0);
    font-size: 17px;
    border-radius: 5px;
    border: none;
    width: 150px;
    height: 35px;
    margin-right: 10px;
    transition: 0.5s;
}
.course_info button.course.success{
    background-color: rgb(0, 253, 114);
}
.course_info button.course.danger{
    background-color: rgb(253, 72, 0);
}
.course_info button.course.success:hover{
    background-color: rgb(0, 190, 86);
}
.course_info button.course.danger:hover{
    background-color: rgb(189, 53, 0);
    transition: 0.5s;
}


.class_chosen{
    position: relative;
    display: block flex;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    overflow:hidden
}
.class_chosen .class_title{
    position: relative;
    background-color: #e0e0e0;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 40px;
}
.class_chosen .class_title a{
    position: relative;
    left: 0%;
    top:9px;
    left: 3px;
    font-size: 17px;
}

.topbar{
    width: 100%;
    height: 50px;
    background-color: white;
    border: 1px solid lightgray;
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 2;
}
.topbar img{
    justify-self: center;
    margin: 5px 13px;
    width: 175px;
    height: 30;
}

.topbar .student_select{
    position: relative;
    justify-self: right;
    border-radius: 5px;
    background-color: rgb(216, 216, 216);
    right: 0%;
    width: 200px;
    font-size: 14px;
    height: 30px;
}

.sidebar{
    height: 100%; /* 100% Full-height */
    width: 200px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 50px; /* Stay at the top */
    left: 0;
    background-color: #868686   ; /* Black*/
    overflow-x: hidden;
    padding: 10px 0px 0px 0px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.sidebar menu{
    padding: 0;
    margin: 5px 0px;
}
.sidebar  menu .menu-option{
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}
.sidebar  menu .menu-option.child{
    padding: 8px 8px 8px 35px;
    font-size: 16px;
    color: #5E5D5D;
    background-color: rgb(235, 235, 235);
    display: block;
    transition: 0.5s;
}

.sidebar  menu .menu-option.active{
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    background-color: white;
    display: block;
    transition: 0.3s;
}

.sidebar  menu .menu-option:hover {
    color: lightblue;
    background-color: rgb(255, 255, 255);
}


.login-logo{
    position: absolute;
    top: 20px;
    width: 300px;
    height: 150px;
}

.input-form {
    margin: 2px;
    box-sizing: border-box;
}

.input-form select.student_select{
    position: relative;
    justify-self: right;
    border-radius: 5px;
    background-color: rgb(216, 216, 216);
    right: 0%;
    width: 100%;
    font-size: 14px;
    height: 30px;
}

.input-form .login-button{
    border-radius: 5px;
    font-size: 12pt;
    color: black;
    width: 100%;
    height: 40px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: lightblue;
    transition: background-color 1s,box-shadow 1s;
}


.login-button:hover{
    background-color: rgb(1, 165, 89);
}

.login-area{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    top: 170px;
    width: 300px;
    height: auto;
    border-radius: 5px;
    border: 2px solid lightblue;
    padding:10px 30px 10px 30px;
    margin-top: 20px;
    justify-self: center;
}

.login-area h2{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}

.login-area label{
    font-size: 16px;
    margin-bottom: 0px;
}